# List

## 1. Reverse a list

In [2]:
a=[1,2,3,4,5,6,7,8,9,10]
b=a[::-1]
print(f"The reversed list is: {b}")

The reversed list is: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 2. Remove duplicates from a list while preserving order.

In [ ]:
a=[1,2,1,3,4,2,5,6,3,5]

# Set Approach
b=list(set(a))
print(f"The unique elements in the list: {b}")

The unique elements in the list: [1, 2, 3, 4, 5, 6]

#### Alternative Approach

In [4]:
a=[1,2,1,3,4,2,5,6,3,5]

emp=[]

for i in a:
    if i not in emp:
        emp.append(i)

print(f"The unique elements in the list using loop: {emp}")

The unique elements in the list using loop: [1, 2, 3, 4, 5, 6]

## 3. Find the missing number in a list of 1 to n

In [7]:
a=[1,2,3,4,5,6,9,10]

b=list(range(1,11))
print("The missing elements in the list are :\n")
for i in range(1,len(b)+1):
    if i not in a:
        print(i)

The missing elements in the list are :

7
8

## 4. Find all pairs in a list that sum to k

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]

k=int(input("Enter a number : "))
emp=[]
for i in range(1,len(a)):
    for j in range(i+1,len(a)):
        if a[i]+a[j]==k:
            emp.append((a[i],a[j]))

print(f"The pairs of elements that sum to {k} are: {emp}")

The pairs of elements that sum to 11 are: [(2, 9), (3, 8), (4, 7), (5, 6)]

## 5. Rotate a list left/right by k positions.

In [15]:
def rotate_list(lst,k):
    n=len(lst)
    k = k%n
    return lst[k:] + lst[:k]

a=[1,2,3,4,5,6,7,8,9,10]
k=int(input("Enter the number of positions to rotate: "))
rotated_list = rotate_list(a, k)
print(f"Rotated List : {rotated_list}")

Rotated List : [5, 6, 7, 8, 9, 10, 1, 2, 3, 4]

## 6. Split a string into chunks of size n each and store in list.

In [2]:
str1 = "Kohli was the captain of the 2008 U19 World Cup winning team and was a crucial member of the teams that won 2011 ODI World Cup, 2013 Champions Trophy, 2024 T20 World Cup, and 2025 Champions Trophy."

def chunk_list(str, n):
    return [str[i:i+n] for i in range(0,len(str),n)]

n=int(input("Enter the chunk size: "))
lst=chunk_list(str1, n)

print(lst)

['Kohli w', 'as the ', 'captain', ' of the', ' 2008 U', '19 Worl', 'd Cup w', 'inning ', 'team an', 'd was a', ' crucia', 'l membe', 'r of th', 'e teams', ' that w', 'on 2011', ' ODI Wo', 'rld Cup', ', 2013 ', 'Champio', 'ns Trop', 'hy, 202', '4 T20 W', 'orld Cu', 'p, and ', '2025 Ch', 'ampions', ' Trophy', '.']

## 7. Flatten a nested list (e.g., [1, [2, [3]]] â†’ [1, 2, 3]).

In [3]:
def flatten(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):  # If the item is a list
            flat_list.extend(flatten(item))  # Recursively flatten it
        else:
            flat_list.append(item)  # Add non-list items directly
    return flat_list

nested_list = [1, [2, 3], [4, [5, 6]], 7, 8]
flat_list = flatten(nested_list)
print(f"The flattened list is: {flat_list}")

The flattened list is: [1, 2, 3, 4, 5, 6, 7, 8]

## 8. Find the second-largest number in a list.

In [9]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1]

def second_highest(lst):
    unique_sorted = sorted(list(set(lst)), reverse=True)  # Remove duplicates and sort descending
    return unique_sorted[1] if len(unique_sorted) > 1 else None  # Handle single-element lists

second = second_highest(a)
print(f"Second Highest: {second}")  # Output: Second Highest: 9

Second Highest: 9

## 9. Check if a list is empty or not.

In [10]:
a=[]
if len(a)==0:
    print("The list is empty.")
else:
    print("The list is not empty.")

The list is empty.

## 10. Count the occurrences of an element in a list and store it in a dictionary

In [2]:
a=[1,2,3,4,1,2,4,5,6,5,7,8,9]

def count_occurances(list1):
    dict={}
    for i in list1:
        if i in dict:
            dict[i]+=1
        else:
            dict[i]=1
    return dict

occurrences = count_occurances(a)
print("Occurrences of each element in the list:")

for key,value in occurrences.items():
    print(f"{key}:{value}")

Occurrences of each element in the list:
1:2
2:2
3:1
4:2
5:2
6:1
7:1
8:1
9:1

## 11. Remove all occurrences of a specific element from a list

In [4]:
a=[1,2,3,4,5,6,7,8,9,10,1,1,2,3,4,5,2,3]

num=int(input("Enter a number to remove all it's occurrances in the list : "))

for i in a:
    if i==num:
        a.remove(i)

print(f"The list after removing all occurrences of {num} is: {a}")

The list after removing all occurrences of 1 is: [2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 2, 3]

## 12. Find the majority occured element

In [2]:
def majority_element_easy(nums):
    for num in nums:
        if nums.count(num) > len(nums) // 2:  # Check if 'num' appears > n/2 times
            return num
    return None  # No majority found

# Example
nums = [2, 2, 1, 1, 1, 2, 2]
print(majority_element_easy(nums))  # Output: 2

2

## 13. Check if a list is a palindrome.

In [5]:
a=[1,2,3,3,2,1]

b=a[::-1]

if a==b:
    print("The list is a palindrome.")
else:   
    print("The list is not a palindrome.")

The list is a palindrome.

## 14. Find the smallest and largest numbers in a list without min()/max().

In [19]:
a=[1,2,3,4,5,6,7,8,9,10]

def max_element(lst):
    # a=max(lst)
    # a=sorted(lst,reverse=True)[0] 
    b=lst[0]
    for i in a:
        if i>b:
            b=i
    return b

def min_element(lst):
    # a=max(lst)
    # a=sorted(lst,reverse=True)[0] 
    b=lst[0]
    for i in a:
        if i<b:
            b=i
    return b

print(f"The maximum element in the list is: {max_element(a)}")
print(f"The minimum element in the list is: {min_element(a)}")

The maximum element in the list is: 10
The minimum element in the list is: 1

## 15. Find the median of a list.

In [ ]:
import statistics as sts

a=[1,2,3,4,5,6,7,8,9,10]
median = sts.median(a)

print(median)

5.5

## 16. Remove every k-th element from a list.

In [24]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

k = int(input("Enter the position at which you want to delete an element in every occurrence of that position :"))

def remove_kth_element(lst,k):
    return [element for i,element in enumerate(lst,0) if (i+1)%k!=0]

print(f"The list after removing every {k}th element is: {remove_kth_element(a, k)}")

The list after removing every 2th element is: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## 17. Find the shortest and longest words in a list of strings.

In [26]:
a=["Koushik", "John", "Doe", "Jane", "Smith","langstrom", "Kohli", "Rohit","Gyalen", "Raina", "Dhoni", "Yadav", "Kumar", "Sharma", "Singh"]

def find_shortest_name(lst):
    if not lst:
        return None, None  # Handle empty list case
    shortest_word = min(lst, key=len)
    return shortest_word

def find_longest_name(lst):
    if not lst:
        return None, None  # Handle empty list case
    longest_word = max(lst,key=len)
    return longest_word

shortest_name = find_shortest_name(a)
print(f"The shortest name in the list is: {shortest_name}")
longest_name = find_longest_name(a)
print(f"The longest name in the list is: {longest_name}")

The shortest name in the list is: Doe
The longest name in the list is: langstrom

# 18. Replace negative numbers with zero in a list

In [29]:
a=[-1, 2, -3, 4, -5, 6, -7, 8, -9, 10,2,3,4,5,6,4,3,3,2,4,55,5,3,2,1,0]

for i in range(len(a)):
    if a[i]<0:
        a[i]=0
print(f"The list after replacing negative numbers with 0 is: {a}")

The list after replacing negative numbers with 0 is: [0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 2, 3, 4, 5, 6, 4, 3, 3, 2, 4, 55, 5, 3, 2, 1, 0]

## 19. Count the number of primes in a list.

In [31]:
import math

a=[1,2,3,7,11,13,17,19,23,29,31,37,41,43,47,4,6,9,24,55,32]

def is_prime(num):
    for i in range(2,int(math.sqrt(num))+1):
        if num%i == 0:
            return 0
            break
        else:
            return 1
        
def count_primes(lst):
    count=0
    for items in lst:
        if is_prime(items)==1:
            count+=1
    return count

print(f"The number of prime numbers in the list is: {count_primes(a)}")

The number of prime numbers in the list is: 14

## 20. Swap the first and last elements of a list.

In [32]:
a=[1,2,3,4,5,6,7,8,9,10]

def swap_first_last(lst):
    if len(lst) < 2:
        return lst  # No swap needed for lists with less than 2 elements
    lst[0], lst[-1] = lst[-1], lst[0]
    return lst
swapped_list = swap_first_last(a)
print(f"The list after swapping first and last elements is: {swapped_list}")

The list after swapping first and last elements is: [10, 2, 3, 4, 5, 6, 7, 8, 9, 1]

## 21. Find the intersection of two lists.

In [35]:
a=[1,2,3,4,5,6,7,8,9,10]

b=[6,7,8,9,10,11,12,13,14,15]

def commmon_elements(lst1,lst2):
    common = set(lst1) & set(lst2)
    return list(common)
common_elements_list = commmon_elements(a, b)
print(f"The common elements in both lists are: {common_elements_list}")

The common elements in both lists are: [6, 7, 8, 9, 10]

## 22. Split a list into even and odd elements.

In [38]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

def even_odd_split(lst):
    even_numbers=[i for i in lst if i%2==0]
    odd_numbers=[i for i in lst if i%2!=0]
    return even_numbers, odd_numbers

even_numbers, odd_numbers = even_odd_split(a)
print(f"The even numbers in the list are: {even_numbers}")
print(f"The odd numbers in the list are: {odd_numbers}")

The even numbers in the list are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
The odd numbers in the list are: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]